body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FC5F07;
    color: #1E1464;
}

main {
    /*border: 1px solid black;*/
    background-color: #76b5c5;
    margin: 0 auto;
    width: 90%;
    padding: 1em;
}

h1 { 
    /*color:red;*/
    font-family: 'Press Start 2P', cursive;
    border-bottom: 1px solid blue;
    text-align: center;
    }

h2 { 
    /*color:rgb(136, 88, 0);*/
    font-family: sans-serif;
    border-bottom: 1px solid blue;
    }

    header{
        background-color: white;
        border: 3px solid #F6AE2D;
        text-align: left;
        word-spacing: 2em;
    }
    
h4 {
    text-align: center;
    word-spacing: 5em;
    border-bottom: 2px solid blue;
}

blockquote { 
    background-color: lightgray;
    padding: 1rem;
    }

p {
    margin-left: 100px;
    color: black;
}

small {
    color: black;
}

li {
    color: black;
}

a:link {
    color: #102E4A;
}
  
  /* visited link */
a:visited {
    color: #102E4A;
}
  
  /* mouse over link */
a:hover {
    color: #FFD046;
}
  
  /* selected link */
a:active {
    color: blue;
}

div.photo {
    float: right; 
    margin: 0 12px;
}

div.centerText {
    text-align: center;
}

div.category {
    background-color: #00A7E1;
    margin: 0 auto;
    width: 25%;
}

div.info{
    margin: 0 auto;
    width: 100%;
    padding: 0rem;
    text-align: center;
}

#project{
    word-spacing: normal;
}

/** {
    border: 1px solid gray;
}*/