/* Do everything in this file */

h2{
    border-bottom: 1px solid red;
    clear: both;
}

h3{
    clear: both;
}

figure{
    float: right;
    width: 40%;
    /*margin: 1em;*/
}

figure img{
    width: 100%;
}

figure figcaption{
    margin: 1em;
}

span.name{
    font-weight: bold;
    padding: 5em;
}

div.tet{
    float: left;
    border: 1px solid black;
}